.modalBody p {
    color: #b0b0b0;
    margin: 10px 0;
    font-weight: bold;
}

.modalActions {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    gap: 20px; /* Расстояние между кнопками */
    margin-top: 25px; /* Отступ сверху */
    padding: 10px 0; /* Дополнительное пространство сверху и снизу */
}

.approveBtn,
.denyBtn {
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.approveBtn {
    background-color: #6a6ad8;
    color: #fff;
    border: none;
}

.approveBtn:hover {
    background-color: #5050d0;
}

.approveBtn:active {
    transform: scale(0.95);
}

.denyBtn {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
}

.denyBtn:hover {
    background-color: #d93636;
}

.denyBtn:active {
    transform: scale(0.95);
}
