.modalActions {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    gap: 170px; /* Расстояние между кнопками */
    margin-top: 25px; /* Отступ сверху */
    padding: 10px 0; /* Дополнительное пространство сверху и снизу */
}

.applyBtn,
.rejectBtn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
}

.applyBtn:hover,
.rejectBtn:hover {
    transform: scale(1.05);
}

.applyBtn {
    background-color: #6a6ad8;
    color: #fff;
}

.rejectBtn {
    background-color: #ff4c4c;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
