.saveBtn {
    background-color: #6a6ad8;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.saveBtn:hover {
    background-color: #5050d0;
}

.cancelBtn {
    background-color: #ff4c4c;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cancelBtn:hover {
    background-color: #d93636;
}