/* Глобальный box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.form-container {
    
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #fff;
}

.form-container .input-group {
    position: relative;
    width: 100%;
}

/* Button styles */
.form-container .btn {
    background-color: #ff4c4c;
    margin-bottom: 2rem;
    width: 100%;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-container .btn:hover {
    background-color: #e04343;
    transform: scale(1.05);
}

.form-container a  {
    color: #ff4c4c;
    background-color: #1c1b29;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    box-shadow: 0 0 8px #ff4c4c;
    padding-inline: 127px;
}

.form-container a:hover {
    background-color: #e04343;
    transform: scale(1.05);
    box-shadow: none;
    color: #fff;
}

.form-field{
    margin-top: 15px;
}
