.card {
    background-color: #2d2c3c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    transition: transform 0.3s ease;
    border: 1px solid #6a6ad8;
}

.card:hover {
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.price {
    color: #ff4c4c;
}

.details p {
    margin: 5px 0;
    color: #ccc;
}

/* Стили статуса */
.status {
    font-weight: bold;
    font-size: 14px;
}

.in-progress {
    color: #ff9800; /* Оранжевый для "In Progress" */
}

.done {
    color: #4caf50; /* Зеленый для "Done" */
}

.not-started {
    color: #ff4c4c; /* Красный для "Not Started" */
}


.action {
    background-color: #6a6ad8;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.action:hover {
    background-color: #5050d0;
}
