header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; /* Центрирует элементы по вертикали */
    padding: 20px 30px;
    background: linear-gradient(135deg, #2a293b, #1c1b29);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Легкое свечение текста */
}

.nav-links {
    display: flex;
    align-items: center; /* Центрирует пункты меню по вертикали */
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9d9dff; /* Нежный цвет текста */
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px; /* Закругленные края */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-icons a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

.nav-links {
    position: relative;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-links a:hover {
    background-color: #4e4c67;
    border-radius: 5px;
    color: #fff;
}

.logout-button {
    margin-left: 15px;
    border: none;
    background: #fff;
    color: #2a293b;
    padding: 5px 10px;
    border-radius: 15%;
}

.logout-button:hover {
    background: #2a293b;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}