.modalBody{
    width: 700px;
}

.saveBtn {
    background-color: #6a6ad8;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveBtn:hover {
    background-color: #5050d0;
}

.categoryRow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addSubcategoryBtn,
.deleteCategoryBtn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #6a6ad8, #5050d0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.addSubcategoryBtn:hover {
    background-color: #6a6ad8;
}

.deleteCategoryBtn:hover {
    background-color: #ff4c4c;
}

.nestedSubcategories {
    margin-left: 20px;
    border-left: 2px dashed #4a4a6a;
    padding-left: 10px;
}
.category {
    margin-top: 10px;
    background-color: #2d2c3c;
    border: 1px solid #4a4a6a;
    border-radius: 5px;
    padding: 10px;
}
.addCategoryBtn {
    background-color: #6a6ad8;
    padding: 12px 25px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.addCategoryBtn:hover {
    background-color: #5050d0;
}