.deleteBtn,
.applyBtn {
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.deleteBtn {
    background-color: #ff4c4c;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #d93636;
}


.applyBtn {
    background-color: #6a6ad8;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.applyBtn:hover {
    background-color: #5050d0;
}