.gamesSection {
    padding: 20px;
    color: #fff;
    background-color: #1c1b29; /* Основной фон секции */
}

.filterContainer {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.filterContainer input {
    padding: 12px;
    width: 40%;
    border: 1px solid #3a3950;
    border-radius: 5px;
    background-color: #2d2c3c;
    color: #fff;
    transition: all 0.3s ease;
}

.filterContainer button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filterContainer button.applySearch {
    background-color: #6a6ad8;
}

.filterContainer button.applySearch:hover {
    background-color: #5050d0;
}

.addNewGame {
    background: linear-gradient(90deg, #5050d0, #6a6ad8);
    box-shadow: 0 4px 15px rgba(106, 106, 216, 0.6);
}

.addNewGame:hover {
    background: linear-gradient(90deg, #6a6ad8, #5050d0);
    box-shadow: 0 6px 20px rgba(106, 106, 216, 0.8);
}

.gamesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gameItem {
    background: linear-gradient(90deg, #2d2c3c, #3a3950);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 220px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.gameItem:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.gameThumbnail {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #6a6ad8;
}

.settingsBtn {
    background: none;
    border: none;
    color: #6a6ad8;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.settingsBtn:hover {
    color: #5050d0;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.applyBtn {
    background-color: #6a6ad8;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.applyBtn:hover {
    background-color: #5050d0;
}

.deleteBtn {
    background-color: #ff4c4c;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #d93636;
}

.label {
    font-size: 14px;
    color: #6a6ad8;
    margin-bottom: 5px;
    display: block;
}

.inputGameImage {
    width: 97%;
    padding: 10px;
    border: 1px solid #6a6ad8;
    border-radius: 8px;
    background-color: #2d2c3c;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.inputGameImage:hover {
    border-color: #5050d0;
}

.inputGameImage:focus {
    border-color: #5050d0;
}

.inputGameName,
.inputGameDescription {
    width: 97%;
    padding: 12px;
    border: 1px solid #6a6ad8;
    border-radius: 8px;
    background-color: #2d2c3c;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputGameName:focus,
.inputGameDescription:focus {
    border-color: #5050d0;
}

.inputGameDescription {
    resize: vertical;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}