.modalContent {
    max-width: 900px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
}

.imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.imagePreview img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
    border: 2px solid #6a6ad8;
}

.categoryRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.addSubcategoryBtn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a6ad8;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.addSubcategoryBtn:hover {
    background-color: #5050d0;
}

.nestedSubcategories {
    margin-left: 20px;
    border-left: 2px dashed #4a4a6a;
    padding-left: 15px;
}


.saveBtn{
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    background: linear-gradient(90deg, #5050d0, #6a6ad8);
    box-shadow: 0 4px 15px rgba(106, 106, 216, 0.6);
}

.saveBtn:hover {
    background: linear-gradient(90deg, #6a6ad8, #5050d0);
    box-shadow: 0 6px 20px rgba(106, 106, 216, 0.8);
}
