.serviceSection {
    padding: 20px 40px; /* Увеличен отступ от боков */
    background-color: #1c1b29;
    color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
}

.pageTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff4c4c;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Карточки масштабируются */
    gap: 20px; /* Расстояние между карточками */
    justify-content: start; /* Карточки выровнены слева */
}
.filterContainer {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.filterContainer input {
    padding: 12px;
    width: 40%;
    border: 1px solid #3a3950;
    border-radius: 5px;
    background-color: #2d2c3c;
    color: #fff;
    transition: all 0.3s ease;
}

.filterContainer input:focus {
    outline: none;
    border-color: #6a6ad8;
    box-shadow: 0 0 8px rgba(106, 106, 216, 0.6);
}

.filterContainer button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filterContainer button.applySearch {
    background-color: #6a6ad8;
}

.filterContainer button.applySearch:hover {
    background-color: #5050d0;
}


.addNewService {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(90deg, #5050d0, #6a6ad8);
    box-shadow: 0 4px 15px rgba(106, 106, 216, 0.6);
}

.addNewService:hover {
    background: linear-gradient(90deg, #6a6ad8, #5050d0);
    box-shadow: 0 6px 20px rgba(106, 106, 216, 0.8);
}
