.orderCard {
    background-color: #2d2c3c;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.orderCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.orderDetails p {
    margin: 5px 0;
    color: #ccc;
}

.status {
    font-weight: bold;
}

.status.inProgress {
    color: #4caf50;
}

.status.done {
    color: #6ad86a;
}

.status.notStarted {
    color: #ff4c4c;
}

.orderAction {
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6a6ad8;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.orderAction:hover {
    background-color: #5050d0;
}
