.modalBody {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 70vw; /* Ширина остается фиксированной */
    max-height: 100%; /* Максимальная высота модального окна */
    height: 68vh;
    padding: 20px;
    background-color: #1d1d2b;
    border-radius: 12px;
    box-shadow: 1px 8px 30px rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Скрываем общий скролл */
    box-sizing: border-box;
}

.appealDetails {
    flex: 0 0 30%; /* Фиксированная ширина блока информации */
    background-color: #2d2c3c;
    border-radius: 10px;
    padding: 20px;
    max-height: calc(90vh - 40px); /* Учитываем отступы модального окна */
    overflow-y: auto; /* Если текст слишком длинный */
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #6a6ad8;
}


.appealDetails p {
    margin: 0;
    font-size: 16px;
}

.appealDetails p strong {
    color: #9d9dff;
}

/* Чат */
.chatSection {
    flex: 1; /* Растягивается на доступное пространство */
    display: flex;
    flex-direction: column;
    background-color: #3a3950;
    border-radius: 10px;
    padding: 15px;
    max-height: calc(90vh - 40px); /* Высота с учетом отступов модального окна */
    border: 1px solid #9d9dff;
}

.chatMessages {
    flex: 1;
    overflow-y: auto; /* Прокрутка для сообщений */
    background-color: #2d2c3c;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.message {
    padding: 10px;
    border-radius: 5px;
    background-color: #6a6ad8;
    color: #fff;
}

.customer {
    font-weight: bold;
    color: #ff5722;
}

.moderator {
    font-weight: bold;
    color: #4caf50;
}

.chatInput {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.chatInput input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2d2c3c;
    color: #fff;
}

.chatInput button {
    padding: 10px 15px;
    background-color: #6a6ad8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.chatInput button:hover {
    background-color: #5050d0;
}
