.modalBody{
    display: flex;
    max-width: 70vw;
    max-height: 80vh;
}

.orderInfo,
.chatBox,
.additionalInfo{
    background-color: #1c1b29;
    border-radius: 8px;
    padding: 15px;
    color: #fff;
    overflow-y: auto;
    width: 400px;
    height: 760px;
}

.setupBtn,
.completeBtn {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    color: #fff;
    transition: background-color 0.3s ease;
}

.setupBtn {
    background-color: #6a6ad8;
}

.setupBtn:hover {
    background-color: #5050d0;
}

.completeBtn {
    background-color: #4caf50;
}

.completeBtn:hover {
    background-color: #45a049;
}

/* Центр - Чат */
.chatSection {
    background-color: #3a3950;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    height: 750px;
}

.chatMessages {
    flex: 1;
    overflow-y: auto;
    background-color: #2d2c3c;
    border-radius: 5px;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    color: #fff;
}


.message p {
    margin: 0;
    font-size: 14px;
}

.message .timestamp {
    font-size: 12px;
    color: #9d9dff;
    margin-top: 5px;
}

.chatInput {
    display: flex;
    gap: 10px;
}

.chatInput input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2d2c3c;
    color: #fff;
}

.chatInput button {
    padding: 10px 15px;
    background-color: #6a6ad8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.chatInput button:hover {
    background-color: #5050d0;
}


.additionalInfo h3 {
    color: #6a6ad8;
    font-size: 18px;
    margin-bottom: 10px;
}


.gearButton {
    background: none;
    border: none;
    color: #6a6ad8;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gearButton:hover {
    color: #5050d0;
}



.modalActions button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modalActions button:first-of-type {
    background-color: #ff4c4c;
    color: #fff;
}

.modalActions button:first-of-type:hover {
    background-color: #d93636;
    color: #fff;
}

.modalActions button:last-of-type {
    background-color: #4caf50;
    color: #fff;
}

.modalActions button:last-of-type:hover {
    background-color: #45a049;
    color: #fff;
}
